@page "/getintouch"
@model StoreApp.Pages.ContactModel

<div class="text-center border my-5 rounded">
    <div class="display-6">Contact</div>
    <div class="lead">
        <i class="fa fa-phone"></i>
        <p>
            +90 506 204 83 09
        </p>

        <i class="fa-solid fa-address-book"></i>
        <p>
            Çankaya/Ankara
        </p>

        <i class="fa-solid fa-envelope"></i>
        <p>
            muratouz95@gmail.com
        </p>
    </div>
</div>   

